@import "partials/varaible";
@import "partials/mixin";
@import "layout/navbar";
@import "pages/home/irshad";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
}
